/* styles.css */
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 20px;
    background-color: #f4f4f4;
}

header {
    background: #007BFF;
    color: white;
    padding: 10px 0;
    text-align: center;
}

h1, h2 {
    margin: 0;
}

#input-section, #results-section, #images-section {
    background: white;
    padding: 20px;
    margin: 20px 0;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

button {
    background: #007BFF;
    color: white;
    border: none;
    padding: 10px 15px;
    cursor: pointer;
}

button:hover {
    background: #0056b3;
}

.modal {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1000; /* Sit on top */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgba(0, 0, 0, 0.8); /* Black w/ opacity */
}

.modal-content {
    position: relative;
    margin: auto;
    padding: 0;
    width: 100%; /* Full width */
    height: auto; /* Full height */
}

.image-item {
    display: inline-block;
    margin: 10px;
}

.image-item img {
    max-width: 100%;
    height: auto;
    border-radius: 5px;
    cursor: pointer; /* Show pointer on hover */
}

/* Style for the close button */
.close {
    color: white;
    float: right;
    font-size: 28px;
    font-weight: bold;
}

.close:hover,
.close:focus {
    color: #bbb;
    text-decoration: none;
    cursor: pointer;
}
